<div id="main">
    <%= image_tag "imagen.png", :alt => "logo", :id => "logo"%>

 <div id="centeredmenu">
<ul class="sf-menu">
<li><%=link_to "Inicio", root_path, id: "home", class: "home"%></li>
<li><%=link_to "proyectos", home_proyectos_path, id: "proyectos", class: "proyectos"%></li>
<li><%=link_to "Nosotros", home_estatutos_path, id: "Nosotros", class: "Nosotros"%></li>
<li><%=link_to "Contacto", home_contacto_path, id: "Contacto", class: "Contacto"%></li>
<li><%=link_to "Blog", home_blog_path, id: "Blog", class: "Blog"%></li>
<li><%=link_to "Foro", home_foro_path, id: "foro", class: "foro"%></li>
<li><%=link_to "Actas", home_actas_path, id: "foro", class: "foro"%></li>
<li><%=link_to "Integrantes", home_integrantes_path, id: "Integrantes", class: "Integrantes"%></li>        

</div>
</ul>

<div class="title">
        <span class="big">LocXue, </span> <span class="small">Somos Ágil - Piensa Simple..</span>
      </div>
      <div class="one-half">
          <!-- tooltips -->
          <p><h3>Valoramos...</h3></p>
            <%= image_tag "manifiesto1.png"%>
            <%= image_tag "manifiesto2.png"%>

<!-- accordions -->
           <h5 class="accordion-trigger custom"><a href="#">Mision</a></h5>
          <div class="accordion-container">
              <div class="block">
            <p>Somos una comunidad Interdisciplinar de trabajo enfocados en la investigación orientada a la gestión del conocimiento a través de marcos de trabajo basados en agilismo, sustentados en principios como la auto-organización, compromiso, horizontalidad y valores como la amistad, respeto, responsabilidad y confianza con el fin de contribuir al fortalecimiento de la investigación universitaria, junto con actividades profesionales y la innovación.</p>
              </div>
          </div>
          <h5 class="accordion-trigger custom"><a href="#">Vision</a></h5>
          <div class="accordion-container">
              <div class="block">
            <p>para el año 2014 LocXue sera una  comunidad de investigación e innovación bajo diferentes entornos de trabajo interdisciplinar y en equipo desde el cual se genere y difunda conocimiento mediante la gestión de proyectos aplicando la filosofía ágil, siendo así reconocido a nivel nacional en el ámbito académico, científico y tecnológico.
            Palabras clave: 
            <li>Gestión de conocimiento</li>
              <li> Interdisciplinariedad</li>
               <li> recimiento orgánico</li>
                <li>Innovación e Investigación</li>
                 <li>Trabajo en equipo </li>
                    </p>
              </div>
          </div>
          <h5 class="accordion-trigger custom"><a href="#">lineas de trabajo</a></h5>
          <div class="accordion-container">
              <div class="block">
            <p>
   <li> Ingeniería de Software y Desarrollo de Software.</li>
    <li> Procesos de enseñanza/aprendizaje (Pedagogía.</li>
   <li> Procesos de Investigación. </li>
    <li>Gestión y Organización (Coach & Trainning).</li>
    <li>Procesos Interdisciplinarios </li></p>
              </div>
          </div>
           <h5 class="accordion-trigger custom"><a href="#">Normas</a></h5>
          <div class="accordion-container">  
            <div class="block">
<li>Respetar a cada uno de los miembros internos y externos que estén involucrados directa o indirectamente con el semillero.</li>

<li>Escuchar la opinión de los compañeros.</li>

<li>Acatar los horarios establecidos para llevar a plenitud las labores planeadas. En caso de no cumplimiento se debe presentar la justificación necesaria dependiendo el caso.</li>  
  <p> <ul><li>En caso de no asistencia se deberá informar a otro integrante del semillero mínimo con dos horas de anticipación.</li>

 <li>En caso de no hacer el aviso pertinente se hace acreedor a una falla. (Sino acata la debida sanción las fallas irán aumentando) </li>

        <ul/><li> A una falla: Se debe a la siguiente reunión traer una golosina para compartir con los miembros del Semillero, al no cumplirse con esta sanción sera acreedor de una falla acumulatoria.</li> 

            <li>A dos fallas: Se debe a la siguiente reunión traer unas pequeñas onces para los miembros del Semillero.</li>

           <li> A tres fallas: Se debe dar una charla interna a los miembros del Semillero (Dicho tema debe aportar un conocimiento nuevo)</li>

            <li>A cuatro Fallas: En los próximos 15 días el sancionado debe dar una charla o realizar actividad externa.</li>

            <li>A cinco Fallas: El sancionado pierde la oportunidad de asistir al próximo evento externo.</li>

            <li>A seis o más Fallas: se entrara en estudio la permanecía del integrante en el semillero.</li>
          </ul>

<li>El tiempo máximo de Ingreso de los Integrantes a una sesión de 2 o más horas será de 10 minutos, y a sesiones de menos de 2 horas será de 5 minutos. En caso de llegadas tardes se aplicarán las siguientes sanciones: (Sino acata la debida sanción las fallas irán aumentando).</li><ul>
<li>
            A una llegada tarde: El sancionado debe depositar $500 en la Alcancía del Semillero.</li>

           <li> A la segunda llegada tarde: El sancionado además de depositar $500 en la Alcancía del Semillero, será acreedor de 1 Falla. </li>
</ul>
<li>Nota: Cada dos llegadas tardes será contada como 1 falla.</li></ul></p>
                   </div>
          </div>
            
 
          <div class="clear"></div>
          <!-- ENDS accordions -->
          
          <!-- ENDS tooltips -->      </div>
          <div class="one-half last">
          <!-- tooltips right -->
          <p><h3>Por sobre...</h3> </p>
         <%= image_tag "manifiesto3.png"%>
          <%= image_tag "manifiesto4.png"%>
          <!-- ENDS tooltips right -->
         <!-- accordions -->
           <h5 class="accordion-trigger custom"><a href="#">Objetivos</a></h5>
          <div class="accordion-container">
              <div class="block">
            <p>
<h5>Objetivo General</h5>
Consolidarnos en competencias de investigación, innovación, gestión y auto-organización, en diferentes áreas del conocimiento en las cuales se haga uso del agilismo.
<h6>Objetivos Específicos</h6>

    <li>Fomentar y fortalecer la investigación en la Universidad de Cundinamarca.</li>
        <li>Generar espacios en el ámbito académico, científico, tecnológico, profesional y social.</li>
        <li>Complementar la formación académica de los estudiantes pertenecientes al semillero de investigación.</li>
       <li> Interactuar con otros grupos de investigación de nuestra Universidad y otras universidades.</li>
        <li>Incentivar a el auto aprendizaje en los integrantes del semillero.</li>
        <li>Conformar grupos de trabajo que permitan estimular, fortalecer y propiciar un ambiente de auto-organización dentro del semillero.</li>
        <li>Generar espacios internos y externos en los cuales vinculemos estudiantes y profesionales de las diferentes ramas del conocimiento.</li>
        <li>Llevar a la práctica los conocimientos adquiridos durante la investigación.</li>
        <li>Participar en diferentes eventos mostrando los resultados del semillero.</li>
       <li> Difundir el conocimiento generado y adquirido por el semillero de investigación.</li>
            </p>
              </div>
          </div>
          <h5 class="accordion-trigger custom"><a href="#">Principios</a></h5>
          <div class="accordion-container">
              <div class="block">
            <p>

<li>Trabajar en un ambiente agradable tanto con el equipo interno, como con las personas externas al mismo.</li>

<li>Además de ser un grupo de trabajo, buscamos generar lazos de amistad entre los integrantes del semillero.</li>

<li>Hacer del compromiso y el respeto los principales valores para dar cumplimiento a objetivos y metas propuestas.</li>

<li>Ser un equipo auto-organizado para eliminar dependencias en los procesos a realizar.</li>

<li>Tener adaptabilidad al entorno cambiante.</li>

<li>Generar conocimiento propio y a la vez difundirlo para fortalecer la comunidad.</li>

<li>Ser autogestor del aprendizaje y socializarlo a la comunidad.</li>
             </p>
              </div>
          </div>
          <h5 class="accordion-trigger custom"><a href="#">Justificacion</a></h5>
          <div class="accordion-container">
              <div class="block">
            <p>
   </p>
              </div>
          </div>
              <h5 class="accordion-trigger custom"><a href="#">Horarios</a></h5>
          <div class="accordion-container">  
            <div class="block">
              <p>Las reuniones son todos los lunes de 5 a 7 de la tarde para trabajar en proyectos y los miercoles de 1 a 2 de la tarde para temas organizativos, los lunes festivos la reunión se corre para el jueves en el mismo horario</p>
            </div>
          </div>
          <div class="clear"></div>
          <!-- ENDS accordions -->

        </div>


</div>
<!-- tabs -->
         
                     
          
          </div>
          <!-- ENDS tabs -->

