<div id="main">
    <%= image_tag "imagen.png", :alt => "logo", :id => "logo"%>

 <div id="centeredmenu">
<ul class="sf-menu">
<li><%=link_to "Inicio", root_path, id: "home", class: "home"%></li>
<li><%=link_to "proyectos", home_proyectos_path, id: "proyectos", class: "proyectos"%></li>
<li><%=link_to "Nosotros", home_estatutos_path, id: "Nosotros", class: "Nosotros"%></li>
<li><%=link_to "Contacto", home_contacto_path, id: "Contacto", class: "Contacto"%></li>
<li><%=link_to "Blog", home_blog_path, id: "Blog", class: "Blog"%></li>
<li><%=link_to "Foro", home_foro_path, id: "foro", class: "foro"%></li>
<li><%=link_to "Actas", home_actas_path, id: "foro", class: "foro"%></li>
<li><%=link_to "Integrantes", home_integrantes_path, id: "Integrantes", class: "Integrantes"%></li>        

</div>
</ul>
 <!-- End Nav -->
  
<!-- Main Page Content and Sidebar -->
 <div class="title">
        <span class="big">Foro locXue, </span> <span class="small">Somos Ágil - Piensa Simple..</span>
      </div>
<div class="row">
 
<!-- Main Blog Content -->
 <!-- Header and Nav -->
<!-- End Header and Nav -->
<!-- Nav Sidebar -->
<!-- This is source ordered to be pulled to the left on larger screens -->
<div class="large-3 columns ">
<ul id="sidebar">
				<!-- init sidebar -->
				<li class="sidemenu">
					<h2 class="custom"><span>CATEGORIAS</span></h2>		
					<ul>
						<li class="cat-item"><a href="#" title="">categoria1</a></li>
						<li class="cat-item"><a href="#" title="View all posts filed under Design">Categoria2</a></li>
						<li class="cat-item"><a href="#" title="View all posts filed under Design">Categoria3</a></li>
						<li class="cat-item"><a href="#" title="View all posts filed under Design">Categoria4</a></li>
					</ul>
				</li>	


 
</div>
<!-- Main Feed -->
<!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
<div class="large-8 columns">
 
<!-- Feed Entry -->
<div class="row">
<div class="large-10 columns">
	<div class="large-2 columns small-3"><%=image_tag "pregunta.png"%></div>
<h3>Nombre</h3>
<p><strong>aqui va la pregunta:</strong> Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.</p>

<hr />
<div class="fb-comments" data-href="https://www.locxue.com" data-numposts="5" data-width="600"></div>
<!-- End Feed Entry -->
 
 
<!-- Feed Entry -->

<!-- End Feed Entry -->
 
</div>
 
<!-- Right Sidebar -->
<!-- On small devices this column is hidden -->

 
</div>
 

<!-- Footer -->
 
